.comment-container{
    background-color: white;
    padding: 20px;
    font-family: monospace;
    width: auto;
    margin-top: 30px;
    box-shadow: 0 0 5px black;
}

.head{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text{
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9;
}

.comment-box{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.comment-box > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.comment-as{
    width: 100%;
}

.user{
    border: none;
    outline: none;
    margin: 5px 0;
    color: gray;
    margin-left: 20px;
    padding: 10px;
}

.comment-input > input{
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;  
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightblue;
}

.buttons button{
    padding: 5px 10px;
    background: lightgray;
    color: gray;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons button.abled{
    background: blue;
    color:white;
}

.notify{
    margin-right: 10px;
    display: flex;
    align-content: center;
}

.notify > input{
    margin-right: 5px;

}
