.container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: nowrap;

}


.container2{
    display:flex;
    flex-direction: column;
}

.container div.left{
    display:flex;
    align-content: flex-start;
    
}

.container div.right{
    display:flex;
    align-content: flex-end;
   
}

.container div.content{
    display:flex;
    align-content: center;
}

.container div.banner{
    display:flex;
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    color:red;
}

body{
    background-image: url(project-3\images\stone-wall.jpeg);
}

header{
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    color:red;
}
