
   header{
    display: flex;
    flex-direction: column;
    gap:30px;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom:1%;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.navigation{
    display:grid;
    flex-direction:column;
    grid-template-columns: repeat(5, 1fr);
    
    

    gap:5%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom:1%;
    
    margin-left: 5%;
    margin-right: 5%;
   

    width: auto;
    height: auto;

    color:red;
    background-color:black;
}

div.banner{
    display: flex;
    flex-direction: column;
    gap:30px;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom:5%;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 1%;

    background-image: url(images/tapestry.png) ;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

body{
    
}

main{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
    gap:100px;
    

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom:1%;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.content{
    display:grid;
    flex-direction: column;
    gap:2px;

    background-color: black;
    color:red;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;

    width:30%;
    height:auto;
}

.left{
    justify-content: flex-start;
    
}

.right{
    justify-content: flex-end; 
}
   

body{
    background-image: url(images/stone-wall.jpg);
}

footer{
    border:2px solid transparent;
    color:red;
    font-weight: bolder;
    font-size: 48;
    background-image: url(https://64.media.tumblr.com/838c6104185d3bab62a51f466baf8cea/3a4afd1f4ad7903d-d8/s400x600/328494ff5fafbb7f41211886ecaeb70204a16be9.pnj);
    background-repeat: repeat-x;
}

a:link{
    color:red;
}

h1{
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    color:red;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:80px;
  
    
}

h2{
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    color:red;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:30px;    
}

