body{
    background-color:black;
    padding-left: 10%;
    padding-right: 10%;
    

}



.enter{
    color:red;
    position: relative;
    background:  url("https://64.media.tumblr.com/b7d2aba691420d343535533e7effc816/3f49a95703a3df32-64/s640x960/c92b9e07c30f6b8108e78d5a90cd4e1f61ae58d9.gifv");
    background-position: center;
    background-repeat: no-repeat;
    padding: 40%;
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;

}

a:link{
    color:red;
}

