body{
   
    background-color: white;
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    padding:10px;
    margin-left:auto;
    margin-right: auto;
    border: 1px solid red;
}

header{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid blue;
    border-radius: 5px;
    
    height:auto;
}

nav{
    display: grid;
    padding: 2px;
    gap:50px;
}

.nav-link{
    color:blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.picture{
    display: flex;
    justify-content: center;
}

.nav-link:hover,
.nav-link:focus{
    border-bottom-color: rgb(190, 188, 188);
    outline: none;
}

a{
    color:black;
    text-decoration: none;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    
    height:auto;
   
}

    .video{
        background-color: white;
       
        object-fit: contain;
        padding: 10px;
    }
    .video-container{
        display:grid;
        
        background-color: white;
        box-shadow:0 0 5px black;
        padding: 30px;
        gap: 10px;
    }

    ul{
        list-style: none;
        margin:0;
        padding:0;
    }


    li{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:2px;
    }

    .icon{
        
        border-radius: 50%;
        padding: 2px;
    }

   .video-1, .video-2, .video-3, .video-4, .video-5, .video-6{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgray;
        
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px;
   }

   .video-1:hover, .video-2:hover, .video-3:hover, .video-4:hover, .video-5:hover, .video-6:hover{
        background:white;
        box-shadow: 0 0 5px black;
   }


   
footer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid blue;
    border-radius: 3px;
    gap: 3px;
   
    height:auto;
}

.info-2{
    justify-content: end;
}

.comment-container{
    width:100%;
}


@media (min-width:300px){
    nav{
        grid-template-columns: repeat(2, 1fr);
    }
    .video-container{
        grid-template-columns: 1fr;
    }
    .container{
        min-width:250px;
    }
    .comment-container{
        min-width:250px;
    }
}

@media (min-width:600px){
    nav{
        grid-template-columns: repeat(4, 1fr);
    }
    .video-container{
        grid-template-columns: repeat(2, 1fr);
    }
     .container{
        min-width:550px;
    }
    .comment-container{
        min-width:550px;
    }
}

@media (min-width:900px){
    nav{
        grid-template-columns: repeat(4, 1fr);
    }
    .video-container{
        grid-template-columns: repeat(3, 1fr);
    }
     .container{
        min-width:850px;
    }
    .comment-container{
        min-width:850px;
    }
}







