*{
    box-sizing: border-box;
}

header{
    
   font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("..\unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
   
    
body{
    margin: 0;
    line-height: 1.5;
    color: black;
    background-color:#E0E0E0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}



.container{
    width: 90%;
    margin: 0 auto;
    size: auto;
   
}

nav{
    color: rgb(0, 0, 0);
    size: auto;
    width: 90%;
    margin: 0 auto;
    background-color: green;
}

main{
     color: rgb(0, 0, 0);
    size: auto;
    width: 90%;
    margin: 0 auto;
    background-color: orange;    

}

   

footer{
    background-color:#3E1305;
    color: white;

}

.facebook-icon{
    color: white;
}