
/width: min(92%, 900px)

*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    border: 2px solid black;
    width: auto;
    height: auto;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    list-style: none;
    margin: 5%;
    padding: 0;
}

li{
    padding: 0;
    gap:0;
    border: 1px solid red;
}

.icon{
    height:40px;
    width:40px;
    justify-content: baseline;
}

svg{
    width: 100px;
    
}

img{
    padding: 5px;
    width:90%;
    height:40%;
}


header{
    display: column;
    align-content: center;
    border:2px solid black;
    padding:10px;
    margin:10px;
    position: fixed;
    width: 95%;
    height: auto;
    background-color: white;
    
}

.banner{
    border: 2px solid black;
}

nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
    margin:5px;
    padding: 10px;
    width: 50%;
    height: 10%;
}



main{
    border:2px solid black;
    padding:60px;
    margin: 10px;
    margin-top: 15%;
   
}


.video-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid red;
    padding:30px;
}

.video-1{
    border:2px solid red;
    margin:10px;  
    
}
.video-1:hover{
    background-color: aquamarine;
    border:aquamarine;    
}

.video-2{
    border:2px solid black;
    object-fit: contain;
    margin: 10px;
    
}
.video-2:hover{
    background-color: aquamarine;
    border:aquamarine;    
}
.video-3{
    border:2px solid black;
    object-fit: contain;
    margin: 10px;
   
}
.video-3:hover{
    background-color: aquamarine;
    border:aquamarine;    
}
.video-4{
    border:2px solid black;
    object-fit: contain;
    margin: 10px;
}
.video-4:hover{
    background-color: aquamarine;
    border:aquamarine;    
}
.video-5{
    border:2px solid black;
    object-fit: contain;
    margin:10px;
}
.video-5:hover{
    background-color: aquamarine;
    border:aquamarine;    
}
.video-6{
    border:2px solid black;
    object-fit: contain;
    margin: 10px;
}
.video-6:hover{
    background-color: aquamarine;
    border:aquamarine;    
}
.comments{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    border: 2px solid red;
    margin: 10px;
}

footer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    margin: 10px;  
}

.comment-container{
    background-color: white;
    padding: 20px;
    font-family: monospace;
    width: 500px;
    margin-top: 30px;
    box-shadow: 0 0 5px black;
}

.head{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text{
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9;
}

.comment-box{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.comment-box > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.info-1{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}

.info-2{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}
.info-3{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}





