


*{
    box-sizing: border-box;
    padding: 10px;
}
body{

    display: flex;
    flex: column;
    flex-wrap: wrap;
    justify-content: center;
    object-position: center;
    align-content: center;
    border:2px solid green;
     
}

ul{
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    list-style: none;
    margin: 5%;
    padding: 0;
}

li{
    padding: 0;
    gap:0;
    border: 1px solid red;
}



.ul > svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}

img{
    padding: 5px;
    width:90%;
    height:40%;
}


header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    object-position: center;   
   
    padding:10px;
   
    
    
    background-color: white;    
    border:2px solid black; 
       
}

            @media (min-width: 300px){
                header{
                     min-width: 300px;
            
                }
            }
               @media (min-width: 700px){
                header{
                     min-width: 700px;
                    margin-left:18%;
                }
            }
               @media (min-width: 900px){
                header{
                    min-width: 900px;
                    position: fixed;
                    margin-left:18%;
                }
            }

.banner{
    border: 2px solid black;
}

nav{
    display: grid;
    border: 2px solid black;
    margin:5px;
    padding: 10px;
   
}

                @media (min-width:300px){
                    nav{
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                @media (min-width:900px){
                    nav{
                        grid-template-columns: repeat(4, 1fr);
                    }
                }


main{
    display: flex;
    flex: column;
    flex-wrap: wrap;
    justify-content: center;
    border:2px solid black;
    padding:60px;
    margin: 10px;
    margin-top: 30%;
    
    object-position: center;
}

            @media (min-width: 300px){
                main{
                     min-width: 300px;
                }
            }
               @media (min-width: 700px){
                main{
                     min-width: 700px;
                }
            }
               @media (min-width: 900px){
                main{
                     min-width: 900px;
                }
            }



.video-container {
    display:grid;
    justify-content: center;
    border: 2px solid red;
    padding:30px;
    min-width: 300px;
    max-width: 1000px;
    object-position: center;
}


                @media (min-width:300px){
                    .video-container{
                        grid-template-columns: 1fr;
                        min-width: 250px;
                    }
                }
                @media (min-width: 700px){
                    .video-container{
                        grid-template-columns: repeat(2, 1fr);
                        min-width: 650px;
                    }
                }

                @media (min-width: 900px){
                    .video-container{
                        grid-template-columns: repeat(3, 1fr);
                        min-width: 850px;
                    }

                }

.video-1, .video-2, .video-3, .video-4, .video-5, .video-6{
    border:2px solid black;
    object-fit: contain;
    margin: 10px; 
    object-position: center;
}

.video-1:hover, .video-2:hover, .video-3:hover, .video-4:hover, .video-5:hover, .video-6:hover{
    background-color: lightgray;
    border:lightblue;
}


.comments{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    border: 2px solid red;
    margin: 10px;
}

footer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    margin: 10px;  
}

.comment-container{
    background-color: white;
    padding: 20px;
    font-family: monospace;
    width: 500px;
    margin-top: 30px;
    box-shadow: 0 0 5px black;
}

.head{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text{
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 0.9;
}

.comment-box{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.comment-box > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.comment-as{
    width: 100%;
}

.user{
    border: none;
    outline: none;
    margin: 5px 0;
    color: gray;
    margin-left: 20px;
    padding: 10px;
}

.comment-input > input{
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;  
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightblue;
}

.buttons button{
    padding: 5px 10px;
    background: lightgray;
    color: gray;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons button.abled{
    background: blue;
    color:white;
}

.notify{
    margin-right: 10px;
    display: flex;
    align-content: center;
}

.notify > input{
    margin-right: 5px;

}



.info-1{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}

.info-2{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}
.info-3{
    border:2px solid red;
    margin: 10px;
    padding: 10px;
}





